* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #2E2B2E;
}

.container-main {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
}

.title img {
    height: 100px;
    width: 500px;
}

.container-slide {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left i, .right i, .autoplay i {
    font-size: 50px;
    color: #C0A471;
    text-shadow: 2px 2px black;
}

.left i:hover, .right i:hover, .autoplay i:hover {
    color: white;
    cursor: pointer;
}

.slider {
    overflow: hidden;
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.slider img {
    border-radius: 20px;
    object-fit: cover;
    height: 460px;
    width: 100%;
    display: none;
    border: 2px solid #C0A471;
}

.left, .right {
    width: 10%
    display: flex;
    justify-content: space-around;
}

img.active, .autoplay i.active-icon {
    display: block;
}

.slider-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
}

.slider-nav i {
    color: #C0A471;
    font-size: 20px;
    text-shadow: 1px 1px black;
}

.slider-nav i:hover {
    color: white;
    cursor: pointer;
}

.autoplay i {
    display: none;
}
